
input[type=text], select, textarea {
    width:40%;
    padding:10px;
    border:2px solid green;
    border-radius:20px 0px 20px 0px;
    box-sizing: border-box;

}
#contact{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius:20px;
     color:#fff;
    padding:20px;
    
}

input[type=submit]{
    background-color: rgb(24, 148, 24);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width:10%;
    padding: 7px ;
    font-family:'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight:bold;
}

input[type=submit]:hover{
    background-color: #fff;
    color: green;
}

::placeholder{
 color: rgba(6, 73, 0, 0.904);
}

.navbar{
    background-color: #333;
    border-radius:50px 0px 50px 0px;
    overflow: hidden;
    width:100%;
  
    
}

.navbar a {
    float: left;
    color:  #f2f2f2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibre, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    height: 30px;
    width: 240px;
    border-radius:50px 0px 50px 0px;
}

.navbar a.Active{
    background-color: #04AA6D;
    color:white;
  

}

#cont{
    color:white;
    float:right;
    font-size:60px;
    font-weight:1000;
    text-align:center;
    font-family: monospace;
    position: relative; top:-500px;
    text-shadow: 3px 3px #04AA6D;
}

h3{
    color:#04AA6D;
    float:right;
    font-size:30px;
    position: relative; top:-500px;
    width: 50%;
    text-align:center;
    
  
    
    
}

h1{
    font-size: 65px;
    text-align: center;
    color:#04AA6D;
}